:root {
  --color-slate-900: #1F314F;
  --color-slate-500: #68778D;
  --color-slate-300: #D5E1EF;
  --color-white: #FFFFFF;
  --spacing-500: 40px;
  --spacing-300: 24px;
  --spacing-200: 16px;
}

/* outfit-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/outfit-v11-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* outfit-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/outfit-v11-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Outfit', Arial, Helvetica, sans-serif;
  background-color: var(--color-slate-300);
}

.wrapper {
  height: calc(100vh - 25px);
  display: flex; 
  justify-content: center;
  align-items: center;
}

.flex-item {
  width: 320px;
  height: 500px;
  background-color: var(--color-white);
  padding: 16px;
  border-radius: 10px;
  text-align: center;
}